<div class="col-3 job" id="<%= job.id %>">
	<div class="card">
    <div class="view overlay hm-white-slight">
      <%= image_tag job.avatar.url(:medium) %>
    </div>
    <div class="card-body">
    	<%= form_with model: job, class: "job_edit_form" do |f| %>
      <h4 class="card-title"><%= job.name %></h4>
      <p class="card-text">
      	<ul>
      		<%= f.text_area :description, placeholder: job.description, disabled: true, class: "job_edit_field first_field" %>
      		<%= f.select(:location) do %>
  					<option value="" disabled selected> <%= job.origin %></option>
						<% [['Los Angeles, CA'], ['San Diego, CA'], ['Sydney, AU'], ['Tokyo, JP'], ['Tianjin, CN']].each do |c| %>
							<option value="<%= c.first %>"><%= c.first %></option>
   					<% end %>
  				<% end %><br/>
      		<%= f.select(:destination) do %>
  					<option value="" disabled selected> <%= job.destination %></option>
						<% [['Los Angeles, CA'], ['San Diego, CA'], ['Sydney, AU'], ['Tokyo, JP'], ['Tianjin, CN']].each do |c| %>
							<option value="<%= c.first %>"><%= c.first %></option>
   					<% end %>
  				<% end %>
      		<%= f.text_field :cost, placeholder: job.cost, disabled: true, class: "job_edit_field" %>
      		<%= f.text_field :load, placeholder: job.load, disabled: true, class: "job_edit_field" %>
      	</ul>
      </p>
      <% if current_user %>
      <button class="edit_job">Edit Job</button>
      <%= f.submit "Save Job", class: "save_job" %>
      <% end %>
      <% end %>
			<% if current_user %>
				<h3>Quick Add</h3>
				<%= form_with model: @contract, class: "contract_form" do |f| %>
					<%= f.hidden_field :job_id, value: job.id %>
					<%= f.select(:boat_id) do %>
						<option value="" disabled selected>Select a Boat</option>
						<% current_user.boats.each do |boat| %>
							<option value="<%= boat.id %>"><%= boat.name %> | Capacity: <%= boat.capacity %></option>
						<% end %>
					<% end %>
					<%= f.submit "Add Boat", class: "contract_submit" %>
				<% end %>
			<% end %>
			<% if job.contracts.any? %>
			<h3>Contracted Boats</h3>
			<% end %>
			<% job.contracts.each do |contract| %>
				<p class="contract"><%= contract.boat.name %> | Capacity: <%= contract.boat.capacity %> <%= link_to "Delete", contract_path(contract), method: :delete, remote: true, class: "delete_contract" %></p>
			<% end %>
			<%= link_to "Delete Job", job_path(job), method: :delete, remote: true, class: "delete_job" %>
    </div>
	</div>
</div>