<% if @boat.errors.full_messages.any? %>
	<ul>
		<% @boat.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<%= form_with model: @boat, local: true do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.text_field :name, placeholder: 'Name' %>
	<%= f.text_field :capacity, placeholder: 'Capacity' %>

	<div class="field">
    <% if @boat.avatar.file? %>
      <p>Your current image: </p>
      <%= image_tag current_user.avatar.url(:medium) %>
      <% end %>
      <%= f.file_field :avatar %>
  </div>

	<%= f.select(:location) do %>
  	<option value="" disabled selected>Ship's Current Location</option>
  	
		<% [['Los Angeles, CA'], ['San Diego, CA'], ['Sydney, AU'], ['Tokyo, JP'], ['Tianjin, CN']].each do |c| %>
			<option value="<%= c.first %>"><%= c.first %></option>
   	<% end %>
  <% end %> <br/>
	<%= f.submit "Add Ship To Inventory", :class => "btn waves-effect waves-light blue darken-3" %>
<% end %>