<div class="container-fluid">
	<div class="row">
		<% @boats.each do |boat| %>
			<div class="col-3">
				<div class="card">
			    <!--Card image-->
			    <div class="view overlay hm-white-slight">
			        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
			        <a href="#">
			            <div class="mask"></div>
			        </a>
			    </div>

			    <!--Card content-->
			    <div class="card-body">
			        <!--Title-->
			        <h4 class="card-title"><%= boat.name %></h4>
			        <!--Text-->
			        <p class="card-text">
			        	<ul>
			        		<li>Capacity: <%= boat.capacity %></li>
			        		<li>Location: <%= boat.location %></li>
			        	</ul>
			        </p>
			        <%= link_to "View", boat_path(boat), class: "btn color_blue" %>
			        <% if current_user %>
								<h3>Quick Add</h3>
								<%= form_with model: @contract do |f| %>
									<%= f.hidden_field :boat_id, value: boat.id %>
									<%= f.select(:job_id) do %>
										<option value="" disabled selected>Select a Job</option>
										<% current_user.jobs.each do |job| %>
											<option value="<%= job.id %>"><%= job.description %> | Load: <%= job.load %></option>
										<% end %><!-- each loop -->
									<% end %><!-- Select Do -->
									<%= f.submit "Add Job" %>
								<% end %><!-- form -->
							<% end %><!-- if -->
							<h3>Contracted Jobs</h3>
							<% container_count = 0 %>
							<% boat.contracts.each do |contract| %>
								<p><%= contract.boat.name %> | Capacity: <%= contract.boat.capacity %></p>
								<% container_count = contract.boat.capacity + container_count %>
							<% end %>
			    </div>
				</div>
			</div>
		<% end %>
	<%= link_to "New Boat", new_boat_path %>
	</div>
</div>
