<div class="container-fluid">
	<div class="row">
		<% @boats.each do |boat| %>
			<div class="col-3">
				<div class="card">
			    <!--Card image-->
			    <div class="view overlay hm-white-slight">
			        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
			        <a href="#">
			            <div class="mask"></div>
			        </a>
			    </div>

			    <!--Card content-->
			    <div class="card-body">
			        <!--Title-->
			        <h4 class="card-title"><%= boat.name %></h4>
			        <!--Text-->
			        <p class="card-text">
			        	<ul>
			        		<li>Capacity: <%= boat.capacity %></li>
			        		<li>Location: <%= boat.location %></li>
			        	</ul>
			        </p>
			        <%= link_to "View", boat_path(boat), class: "btn color_blue" %>
			    </div>
				</div>
			</div>
		<% end %>
	<%= link_to "New Boat", new_boat_path %>
	</div>
</div>
